@model List<MovixApp.Models.Movie>

@{
    ViewData["Title"] = "Popüler Filmler";
}

<h2>Popüler Filmler</h2>
<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-dark text-white">
                <img src="@movie.FullPosterPath" class="card-img-top" alt="@movie.Title" />
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    <p class="card-text">
                        @((movie.Overview?.Length > 100 ? movie.Overview.Substring(0, 100) + "..." : movie.Overview))
                    </p>
                    <p>⭐ @movie.VoteAverage</p>
                    <a href="@Url.Action("Details", "Home", new { id = movie.Id })" class="btn btn-primary">Detaylar</a>
                </div>
            </div>
        </div>
    }
</div>
